{% extends 'base_site.html' %}
{% block title %}
Edit Parser
{% endblock title%}
{% block navigation_bar %}
<li>
    <a id="test_parser" onclick="window.location.href = '{{ test_parser_url }}';" class="btn btn-app" ><i class="fa fa-file-code-o"></i>Test Parser</a>
</li>
<li>
    <a class="btn btn-app" onclick="window.location.href = '{{ entity_view_url }}';"><i class="fa fa-close"></i>Cancel</a>
</li>
<li>
    <a id="save_entity" onclick="save_parser_data('{{save_entity_url}}','{{entity_view_url}}')" class="btn btn-app" ><i class="fa fa-save"></i>Save</a>
</li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div id="main_box" class="box box-primary">
            <form id="upload-parser" method="post" enctype="multipart/form-data" role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label id="parser_name_label" for="parser-name-input">Parser Name</label>
                        <input name="parser_name" class="form-control" id="parser-name-input" type="text" value="{{parser_name}}">
                        <button class="btn btn-primary" onclick="click_upload_btn()" id="upload-parser-btn" type="button">Chose file</button>
                        <input onchange="input_form_change(this)" id="parser-file-input" name="parser-file" type="file" class="hidden">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
<label id="parser-code-label" for="parser-code"><b>Code:</b></label>
            <pre id="parser-code">
                <code id="current_parser_code">
{{parser_code}}
                </code>
            </pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/styles/highlight_default.css">
{% endblock %}
{% block javascripts %}
<script src="/static/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/static/js/common.js"></script>
<script src="/static/js/parser_callbacks.js"></script>
{% endblock %}
