{% extends 'base_site.html' %}
{% block title %}
Edit Monitoring
{% endblock title%}
{% block stylesheets %}
<link rel="stylesheet" href="/static/styles/monitoring_mgmt.css">
<link rel="stylesheet" href="/static/styles/edit_monitoring.css">
{% endblock stylesheets %}
{% block navigation_bar %}
    <li>
        <a class="btn btn-app" href="{{ redirect_url }}"><i class="fa fa-close"></i>Cancel</a>
    </li>
    <li>
        <a onclick="save_monitoring_object({{project_id}}, {{monitoring_id}}, {{product.id}}, {{seller.id}}, '{{redirect_url}}')" class="btn btn-app" ><i class="fa fa-save"></i>Save</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><b>Product Name</b></h3>
        </div>
        <div class="box-body text-center">
            <span id="product_name" value={{product.id}}><h4>{{product.name}}</h4></span>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><b>Seller Name</b></h3>
        </div>
        <div class="box-body text-center">
            <span id="seller_name" value="{{seller.id}}"><h4>{{seller.name}}</h4></span>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><b>Parser Configuration</b></h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <form id="parser_url_form" method="post" action="{{ submit_url }}">
                        <label id="url-monitor_url" for="monitor_url"><b>URL:</b></label>
                        <input class="form-control" id="monitor_url" name="parser_url" type="text"
                        {% if monitored_product and monitored_product.url %}
                            value="{{monitored_product.url}}"
                        {% else %}
                            value=""
                        {% endif %}
                        >
                    </form>
                </div>

                <div class="col-md-2">
                    <label for="select_base_parser"><b>Basic price parser:</b></label>
                    <select class="dropbtn" id="select_base_parser" style="width: 100%">
                    <option value="NONE" disabled selected>Select parser</option>
                    <option value="NONE">None</option>
                    {% for parser in project_parsers %}
                        <option {% if monitored_product and parser.id == monitored_product.parser_id %}
                                selected="selected"
                                {% endif %}
                                value="{{parser.id}}">{{parser.name}}</option>
                    {% endfor %}
                    </select>
                </div>

                <div id="basic_params_cont" class="col-md-10">
                    <label for="basic_parser_parameters"><b>Basic parser parameters:</b></label>
                    <textarea class="form-control" id="basic_parser_parameters">
                    {% if monitored_product and monitored_product.parser_parameter %}
                        {{monitored_product.parser_parameter}}
                    {% endif %}
                    </textarea>
                </div>

                {% for option in product_options %}
                <div class="col-md-2">
                    <label for="select_option{{option.id}}"><b>Option '{{option.name}}' parser:</b></label>
                    <select class="dropbtn" id="select_option{{option.id}}" value="{{option.id}}" style="width: 100%">
                    <option value="NONE" disabled selected>Select parser</option>
                    <option value="NONE">None</option>
                    {% for parser in project_parsers %}
                        <option {% if option.id in options_id_to_data and options_id_to_data[option.id].parser_id == parser.id%}
                                selected="selected"
                                {% endif %}
                                value="{{parser.id}}">{{parser.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div id="option_params{{option.id}}" class="col-md-10">
                    <label for="option_parser_parameters{{option.id}}"><b>Option '{{option.name}}' parser parameters:</b></label>
                    <textarea class="form-control" id="option_parser_parameters{{option.id}}">
                    {% if option.id in options_id_to_data and options_id_to_data[option.id].parser_parameter %}
                    {{ options_id_to_data[option.id].parser_parameter }}
                    {% endif %}</textarea>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="/static/js/edit_monitoring_object_callbacks.js"></script>
{% endblock %}


