{% extends 'base_site.html' %}
{% block title %}
Edit Monitoring
{% endblock title%}
{% block stylesheets %}
<link rel="stylesheet" href="/static/styles/select2.min.css">
<link rel="stylesheet" href="/static/styles/monitoring_mgmt.css">
<link rel="stylesheet" href="/static/styles/edit_monitoring.css">
<link rel="stylesheet" href="/static/styles/select2_fix.css">
{% endblock stylesheets %}
{% block navigation_bar %}
    <li>
        <a class="btn btn-app" onclick="post_force_scan('{{ scan_url }}')"><i class="fa fa-search"></i>Force Scan</a>
    </li>
    <li>
        <a class="btn btn-app" href="{{ redirect_url }}"><i class="fa fa-close"></i>Cancel</a>
    </li>
    <li>
        <a onclick="save_monitoring_data('{{save_url}}', '{{redirect_url}}', '{{project_id}}', '{{entity_id}}')" class="btn btn-app" ><i class="fa fa-save"></i>Save</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="box" style="background-color: transparent; border: none; box-shadow: none;">
        <label for="monitoring_enabled_input"><b>Enabled:</b></label>
        <label id="enabled_switch" class="switch">
            <input id="monitoring_enabled_input" type="checkbox"
                           {% if monitoring_enabled %}
                           checked
                           {% endif %}
            >
            <span class="slider round"></span>
        </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="box box-primary">
            <form id="monitoring_name" method="post" enctype="multipart/form-data" role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label id="file-parse-failure-msg" for="monitoring_name">Monitoring Name</label>
                        <input class="form-control" id="monitoring_name_input" type="text" value="{{monitoring_name}}">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 monitoring_dropdown">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="seller_self"><b>Seller Self:</b></label>
                            <select style="width: 100%;" id="seller_self" class="form-control searchable_dropdown_seller">
                                <option></option>
                    {% for seller in project_sellers %}
                        {% if seller.id == seller_self_id %}}
                                <option selected value="{{seller.id}}">{{seller.name}}</option>
                        {% else %}
                                <option value="{{seller.id}}">{{seller.name}}</option>
                        {% endif %}
                    {% endfor %}
                            </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 monitoring_dropdown">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="update_interval"><b>Scan Interval:</b></label>
                        <select style="width: 100%;" id="update_interval" class="form-control common_dropdown_scan_interval">
                    {% for value, description in scan_intervals.items() %}
                        {% if value == enabled_scan_interval %}
                            <option selected value="{{value}}">{{description}}</option>
                        {% else %}
                            <option value="{{value}}">{{description}}</option>
                        {% endif %}
                    {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 monitoring_dropdown">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="request_interval"><b>Request interval:</b></label>
                        <select style="width: 100%;" id="request_interval" class="form-control common_dropdown_request_interval">
                    {% for value, description in request_intervals.items() %}
                        {% if value == enabled_request_interval %}
                            <option selected value="{{value}}">{{description}}</option>
                        {% else %}
                            <option value="{{value}}">{{description}}</option>
                        {% endif %}
                    {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="box box-primary">
            <div class="box-body">
                <table id="chosen_products_table" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="chosen_products_table_body">
                    {% for product in monitoring_products %}
                        <tr id="product_tablerow_{{product[1].id}}" value="{{product[1].id}}">
                            <td id="product_name{{loop.index-1}}">{{product[1].name}}</td>
                            <td id="remove_product{{loop.index-1}}" class="remove_chosen"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <select style="width: 100%;" id="monitoring_products_select" class="form-control">
                                <option></option>
                    {% for product in project_products %}
                                <option onclick="on_list_element_click_dt('product', this, '{{product.id}}', '{{product.name}}')" value="{{product.id}}">{{product.name}}</option>
                    {% endfor %}
                        </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="box box-primary">
            <div class="box-body">
                <table id="chosen_sellers_table" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>Seller</th>
                            <th></th>
                        </tr>
                    </thead>
                        <tbody id="chosen_sellers_table_body">
                            {% for seller in monitoring_sellers %}
                                <tr id="seller_tablerow_{{seller[1].id}}" value="{{seller[1].id}}">
                                    <td id="seller_name{{loop.index-1}}">{{seller[1].name}}</td>
                                    <td id="remove_seller{{loop.index-1}}" class="remove_chosen"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <select style="width: 100%;" id="monitoring_sellers_select" class="form-control">
                                <option></option>
                    {% for seller in project_sellers %}
                                <option onclick="on_list_element_click_dt('seller', this, '{{seller.id}}', '{{seller.name}}')" value="{{seller.id}}">{{seller.name}}</option>
                    {% endfor %}
                        </select>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    let added_products = {
        {% for product in monitoring_products %}
            "{{product[1].id}}": "{{product[1].name}}",
        {% endfor %}
    };

    let added_sellers = {
        {% for seller in monitoring_sellers %}
            "{{seller[1].id}}": "{{seller[1].name}}",
        {% endfor %}
    };
</script>
<script src="/static/libs/select2.full.min.js"></script>
<script src="/static/js/edit_monitoring_callbacks.js"></script>
<script src="/static/js/fix_select2.js"></script>
{% endblock %}
