{% extends 'base_site.html' %}
{% block title %}
Monitorings View
{% endblock title%}
{% block navigation_bar %}
    <li>
        <a class="btn btn-app" href="{{ new_entity_url }}"><i class="fa fa-bar-chart"></i>Create Monitoring</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}
    {% include 'monitoring/monitorings_table_view.html' %}
{% endblock %}
{% block javascripts %}
    <script src="/static/js/common.js"></script>
{% endblock %}
