{% extends 'base_site.html' %}
{% block title %}
Products View
{% endblock title%}
{% block navigation_bar %}
    <li>
        <a class="btn btn-app" href="{{ redirect_url }}"><i class="fa fa-bar-chart"></i>Cancel</a>
    </li>
    <li>
        <a onclick="save_current_product('{{project_id}}', '{{product_id}}')" class="btn btn-app" ><i class="fa fa-bar-chart"></i>Save</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}
    {% include 'product/edit_product_table_view.html' %}
{% endblock %}
{% block javascripts %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/product_table_callbacks.js"></script>
{% endblock %}
