{% extends 'base_site.html' %}
{% block title %}
Products View
{% endblock title%}
{% block navigation_bar %}
    <li>
        <a class="btn btn-app" href="{{ url_for('products.edit_product', project_id=project_id, product_id='new_product') }}">
            <i class="fa fa-bar-chart"></i>Create Product</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}
    {% include 'product/products_table_view.html' %}
{% endblock %}
{% block javascripts %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/product_table_callbacks.js"></script>
{% endblock %}
