<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
        {% if not products %}
            NO ENTITIES CREATED
        {% else %}
            <table id="example" class="table table-bordered table-striped text-center" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <a id="entity_edit" class="btn btn-app" name="{{ product.id  }}"
                            onclick="window.location.href = '{{ url_for('products.edit_product', project_id=project_id, product_id=product.id)}}';"
                    ><i class="fa fa-cogs"></i>Settings</a>
                    <a id="entity_remove" class="btn btn-app"
                            onclick = "remove_product({{ project_id }}, {{ product.id }}, '{{ product.name }}')"
                            name="{{ product.id  }}"><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            </table>
        {% endif %}
            </div>
        </div>
    </div>
</div>
