{% extends 'base.html' %}
{% block add_scripts %}
<script src="/static/js/common.js"></script>
{% endblock %}
{% block menu_entities %}
    {% include 'menu_entities.html'  %}
{% endblock %}
{% block horizontal_pane %}
    {% include 'horizontal_edit_save_plane.html' %}
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumbs_list.html' %}
{% endblock %}
{% block page_content %}
    <div id="current_view" class="brdr">
        <form id="save_entity_form" method="POST" action="{{ save_entity_url }}">
        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name }}
        </form>
    </div>
{% endblock %}
