td.details-control {
    background: url('/static/images/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
tr.shown td.details-control {
    background: url('/static/images/details_close.png') no-repeat center center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.icon-container {
    right: 0;
    top: 0;
    display: flex;
}

.icon-alert {
    display: inline-block;
    color: white;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.icon-href {
    display: inline-block;
    color: white;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#report_data td {
    width: 1px;
    white-space: nowrap;
}
