{% extends 'base_site.html' %}
{% block title %}
Create Project
{% endblock title%}
{% block navigation_bar %}
    <li>
        <a class="btn btn-app" href="{{ url_for('projects.main_form') }}"><i class="fa fa-close"></i>Cancel</a>
    </li>
    <li>
        <a id="save_project" class="btn btn-app" ><i class="fa fa-save"></i>Save</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <form id="project_name_form" method="post" enctype="multipart/form-data" role="form" action="{{ url_for('projects.create_project') }}">
                {{ form.csrf_token }}
                <div class="box-body">
                    <div class="form-group">
                        <label id="project_name_label" for="project_name_input">Product Name</label>
                        <input class="form-control" name="project_name" id="project_name_input" type="text">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="/static/js/common.js"></script>
{% endblock %}


