{% extends 'base_site.html' %}
{% block title %}
Projects View
{% endblock title%}
{% block stylesheets %}
{% endblock stylesheets %}
{% block navigation_bar %}
    <li>
        <a class="btn btn-app" href="{{ url_for('projects.create_project') }}"><i class="fa fa-object-group"></i>Create Project</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumb_list_new.html' %}
{% endblock %}
{% block content %}
<div class="row">
<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
    {% if not projects %}
        NO PROJECTS CREATED
    {% else %}
    <table id="example" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>
                    <a id="project_view" class="btn btn-app" name="{{ project.id  }}"
                            onclick="window.location.href = '{{ url_for('projects.project_view', project_id=project.id)}}';"
                    ><i class="fa fa-eye"></i>View</a>
                    <a id="project_settings" class="btn btn-app" name="{{ project.id  }}"
                            onclick="window.location.href = '{{ url_for('projects.project_settings', project_id=project.id)}}';"
                    ><i class="fa fa-cogs"></i>Settings</a>
                    <a id="project_remove" class="btn btn-app" onclick = "remove_project(this)" name="{{ project.id  }}"><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
    </table>
    {% endif %}
</div>
</div>
</div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
