{% extends 'base.html' %}
{% block horizontal_pane %}
    <div class="button-grp-horizontal">
        <p class="left">{{ current_user }}</p>
        <div id="head_buttons_view" class="right" style="width: 50%">
            <button id="create_proj"
                    class="btn-horizontal default right"
                    onclick="window.location.href = '{{ url_for('create_project') }}';"
            >Create project</button>
        </div>
    </div>
{% endblock %}
{% block breadcrumbs %}
    {% include 'breadcrumbs_list.html' %}
{% endblock %}
{% block page_content %}
    <div id="current_view" class="brdr">
        {% if not projects %}
            NO PROJECTS CREATED
        {% else %}
            <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>
                    <button id="project_view" name="{{ project.id  }}"
                            onclick="window.location.href = '{{ url_for('project_view', project_id=project.id)}}';"
                    >View</button>
                    <button id="project_settings" name="{{ project.id  }}"
                            onclick="window.location.href = '{{ url_for('project_settings', project_id=project.id)}}';"
                    >Settings</button>
                    <button id="project_remove" onclick = "remove_project(this)" name="{{ project.id  }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            </table>
        {% endif %}
    </div>
{% endblock %}
